# Objective:
Create a recommendation system using a Content Based Model.

## Get the data

In [1]:
# Get the data
!wget -O moviedataset.zip https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

... .......... .......... 19% 9.58M 29s
 29800K .......... .......... .......... .......... .......... 19% 3.38M 29s
 29850K .......... .......... .......... .......... .......... 19%  257M 29s
 29900K .......... .......... .......... .......... .......... 19% 3.67M 29s
 29950K .......... .......... .......... .......... .......... 19% 3.40M 29s
 30000K .......... .......... .......... .......... .......... 19%  141M 29s
 30050K .......... .......... .......... .......... .......... 19% 6.65M 29s
 30100K .......... .......... .......... .......... .......... 19% 18.0M 29s
 30150K .......... .......... .......... .......... .......... 19% 5.29M 29s
 30200K .......... .......... .......... .......... .......... 19% 11.6M 29s
 30250K .......... .......... .......... .......... .......... 19% 4.42M 29s
 30300K .......... .......... .......... .......... .......... 19% 6.13M 29s
 30350K .......... .......... .......... .......... .......... 19% 3.75M 29s
 30400K .......... .......... .......... .......... .......... 19%  149M 29s
'unzip' is not recognized as an internal or external command, 30450K .......... .......... .......... .......... .......... 19% 3.65M 29s
 30500K .......... .......... .......... .......... .......... 19% 6.65M 29s
 30550K .......... .......... .......... .......... .......... 19%  155M 29s
 30600K .......... .......... .......... .......... .......... 19% 3.30M 29s
 30650K .......... .......... .......... .......... .......... 19% 4.39M 29s
operable program or batch file.

 30700K .......... .......... .......... .......... .......... 19% 5.08M 29s
 30750K .......... .......... .......... .......... .......... 19%  205M 29s
 30800K .......... .......... .......... .......... .......... 19% 3.39M 29s
 30850K .......... .......... .......... .......... .......... 19% 4.68M 29s
 30900K .......... .......... .......... .......... .......... 19% 4.63M 29s
 30950K .......... .......... .......... .......... .......... 19% 78.7M 29s
 31000K .......... .......... .......... .......... .......... 19% 3.41M 29s
 31050K .......... .......... .......... .......... .......... 19% 5.08M 29s
 31100K .......... .......... .......... .......... .......... 19% 3.71M 29s
 31150K .......... .......... .......... .......... .......... 19% 3.88M 29s
 31200K .......... .......... .......... .......... .......... 19% 5.52M 29s
 31250K .......... .......... .......... .......... .......... 19% 3.24M 29s
 31300K .......... .......... .......... .......... .......... 20%  115M 29s
 31350K .......... .......... .......... .......... .......... 20% 4.31M 29s
 31400K .......... .......... .......... .......... .......... 20% 5.69M 28s
 31450K .......... .......... .......... .......... .......... 20% 3.16M 28s
 31500K .......... .......... .......... .......... .......... 20% 5.03M 28s
 31550K .......... .......... .......... .......... .......... 20% 5.42M 28s
 31600K .......... .......... .......... .......... .......... 20% 3.22M 28s
 31650K .......... .......... .......... .......... .......... 20% 4.72M 28s
 31700K .......... .......... .......... .......... .......... 20% 6.34M 28s
 31750K .......... .......... .......... .......... .......... 20% 3.02M 28s
 31800K .......... .......... .......... .......... .......... 20% 8.79M 28s
 31850K .......... .......... .......... .......... .......... 20% 7.81M 28s
 31900K .......... .......... .......... .......... .......... 20% 7.58M 28s
 31950K .......... .......... .......... .......... .......... 20% 2.81M 28s
 32000K .......... .......... .......... .......... .......... 20% 6.45M 28s
 32050K .......... .......... .......... .......... .......... 20% 7.39M 28s
 32100K .......... .......... .......... .......... .......... 20% 7.48M 28s
 32150K .......... .......... .......... .......... .......... 20% 3.63M 28s
 32200K .......... .......... .......... .......... .......... 20% 5.07M 28s
 32250K .......... .......... .......... .......... .......... 20% 8.94M 28s
 32300K .......... .......... .......... .......... .......... 20% 5.14M 28s
 32350K .......... .......... .......... .......... .......... 20% 4.68M 28s
 32400K .......... .......... .......... .......... .......... 20% 4.97M 28s
 32450K .......... .......... .......... .......... .......... 20% 9.21M 28s
 32500K .......... .......... .......... .......... .......... 20% 6.26M 28s
 32550K .......... .......... .......... .......... .......... 20% 3.89M 28s
 32600K .......... .......... .......... .......... .......... 20% 4.15M 28s
 32650K .......... .......... .......... .......... .......... 20%  125M 28s
 32700K .......... .......... .......... .......... .......... 20% 17.7M 28s
 32750K .......... .......... .......... .......... .......... 20% 2.46M 28s
 32800K .......... .......... .......... .......... .......... 20% 4.05M 28s
 32850K .......... .......... .......... .......... .......... 21%  150M 28s
 32900K .......... .......... .......... .......... .......... 21% 4.95M 28s
 32950K .......... .......... .......... .......... .......... 21% 3.49M 28s
 33000K .......... .......... .......... .......... .......... 21%  171M 28s
 33050K .......... .......... .......... .......... .......... 21% 4.28M 28s
 33100K .......... .......... .......... .......... .......... 21% 5.83M 28s
 33150K .......... .......... .......... .......... .......... 21% 3.22M 28s
 33200K .......... .......... .......... .......... .......... 21%  133M 28s
 33250K .......... .......... .......... .......... .......... 21% 4.69M 28s
 33300K .......... .......... .......... .......... .......... 21% 62.6M 28s
 33350K .......... .......... .......... .......... .......... 21% 2.09M 28s
 33400K .......... .......... .......... .......... .......... 21%  205M 28s
 33450K .......... .......... .......... .......... .......... 21% 4.28M 28s
 33500K .......... .......... .......... .......... .......... 21%  218M 28s
 33550K .......... .......... .......... .......... .......... 21% 5.56M 28s
 33600K .......... .......... .......... .......... .......... 21% 3.20M 28s
 33650K .......... .......... .......... .......... .......... 21% 12.2M 28s
 33700K .......... .......... .......... .......... .......... 21% 3.94M 28s
 33750K .......... .......... .......... .......... .......... 21% 99.7M 28s
 33800K .......... .......... .......... .......... .......... 21% 2.78M 28s
 33850K .......... .......... .......... .......... .......... 21%  225M 27s
 33900K .......... .......... .......... .......... .......... 21% 2.91M 27s
 33950K .......... .......... .......... .......... .......... 21% 94.5M 27s
 34000K .......... .......... .......... .......... .......... 21% 2.79M 27s
 34050K .......... .......... .......... .......... .......... 21%  118M 27s
 34100K .......... .......... .......... .......... .......... 21% 2.39M 27s
 34150K .......... .......... .......... .......... .......... 21% 76.3M 27s
 34200K .......... .......... .......... .......... .......... 21% 18.7M 27s
 34250K .......... .......... .......... .......... .......... 21% 3.43M 27s
 34300K .......... .......... .......... .......... .......... 21% 2.80M 27s
 34350K .......... .......... .......... .......... .......... 21%  135M 27s
 34400K .......... .......... .......... .......... .......... 22% 2.04M 27s
 34450K .......... .......... .......... .......... .......... 22%  198M 27s
 34500K .......... .......... .......... .......... .......... 22% 4.72M 27s
 34550K .......... .......... .......... .......... .......... 22% 1.98M 27s
 34600K .......... .......... .......... .......... .......... 22% 99.3M 27s
 34650K .......... .......... .......... .......... .......... 22% 5.08M 27s
 34700K .......... .......... .......... .......... .......... 22% 1.97M 27s
 34750K .......... .......... .......... .......... .......... 22% 4.46M 27s
 34800K .......... .......... .......... .......... .......... 22%  146M 27s
 34850K .......... .......... .......... .......... .......... 22% 2.02M 27s
 34900K .......... .......... .......... .......... .......... 22% 4.55M 27s
 34950K .......... .......... .......... .......... .......... 22% 2.10M 27s
 35000K .......... .......... .......... .......... .......... 22% 4.19M 27s
 35050K .......... .......... .......... .......... .......... 22%  150M 27s
 35100K .......... .......... .......... .......... .......... 22% 2.22M 27s
 35150K .......... .......... .......... .......... .......... 22% 3.04M 27s
 35200K .......... .......... .......... .......... .......... 22% 2.60M 27s
 35250K .......... .......... .......... .......... .......... 22% 3.03M 27s
 35300K .......... .......... .......... .......... .......... 22% 2.39M 27s
 35350K .......... .......... .......... .......... .......... 22% 2.46M 27s
 35400K .......... .......... .......... .......... .......... 22% 3.32M 27s
 35450K .......... .......... .......... .......... .......... 22% 2.44M 27s
 35500K .......... .......... .......... .......... .......... 22% 3.09M 27s
 35550K .......... .......... .......... .......... .......... 22% 2.63M 27s
 35600K .......... .......... .......... .......... .......... 22% 2.70M 27s
 35650K .......... .......... .......... .......... .......... 22% 3.09M 27s
 35700K .......... .......... .......... .......... .......... 22% 88.6M 27s
 35750K .......... .......... .......... .......... .......... 22% 2.09M 27s
 35800K .......... .......... .......... .......... .......... 22% 4.64M 27s
 35850K .......... .......... .......... .......... .......... 22% 2.08M 27s
 35900K .......... .......... .......... .......... .......... 22% 41.6M 27s
 35950K .......... .......... .......... .......... .......... 22% 4.63M 27s
 36000K .......... .......... .......... .......... .......... 23% 2.07M 27s
 36050K .......... .......... .......... .......... .......... 23% 82.6M 27s
 36100K .......... .......... .......... .......... .......... 23% 4.70M 27s
 36150K .......... .......... .......... .......... .......... 23% 2.79M 27s
 36200K .......... .......... .......... .......... .......... 23% 8.16M 27s
 36250K .......... .......... .......... .......... .......... 23% 4.51M 27s
 36300K .......... .......... .......... .......... .......... 23% 3.97M 27s
 36350K .......... .......... .......... .......... .......... 23% 4.55M 27s
 36400K .......... .......... .......... .......... .......... 23% 12.5M 27s
 36450K .......... .......... .......... .......... .......... 23% 5.55M 27s
 36500K .......... .......... .......... .......... .......... 23% 2.68M 27s
 36550K .......... .......... .......... .......... .......... 23% 11.5M 27s
 36600K .......... .......... .......... .......... .......... 23% 7.36M 27s
 36650K .......... .......... .......... .......... .......... 23% 10.7M 27s
 36700K .......... .......... .......... .......... .......... 23% 2.48M 27s
 36750K .......... .......... .......... .......... .......... 23% 15.6M 27s
 36800K .......... .......... .......... .......... .......... 23% 6.61M 27s
 36850K .......... .......... .......... .......... .......... 23% 9.56M 27s
 36900K .......... .......... .......... .......... .......... 23% 6.00M 27s
 36950K .......... .......... .......... .......... .......... 23% 3.27M 27s
 37000K .......... .......... .......... .......... .......... 23% 6.97M 27s
 37050K .......... .......... .......... .......... .......... 23%  121M 27s
 37100K .......... .......... .......... .......... .......... 23% 2.63M 27s
 37150K .......... .......... .......... .......... .......... 23% 9.73M 27s
 37200K .......... .......... .......... .......... .......... 23% 10.7M 27s
 37250K .......... .......... .......... .......... .......... 23% 5.35M 27s
 37300K .......... .......... .......... .......... .......... 23% 3.04M 27s
 37350K .......... .......... .......... .......... .......... 23% 40.0M 27s
 37400K .......... .......... .......... .......... .......... 23% 6.21M 27s
 37450K .......... .......... .......... .......... .......... 23% 5.51M 27s
 37500K .......... .......... .......... .......... .......... 23% 3.02M 27s
 37550K .......... .......... .......... .......... .......... 24% 51.3M 27s
 37600K .......... .......... .......... .......... .......... 24% 2.81M 27s
 37650K .......... .......... .......... .......... .......... 24% 11.6M 27s
 37700K .......... .......... .......... .......... .......... 24% 3.86M 27s
 37750K .......... .......... .......... .......... .......... 24%  113M 27s
 37800K .......... .......... .......... .......... .......... 24% 2.69M 27s
 37850K .......... .......... .......... .......... .......... 24% 10.6M 27s
 37900K .......... .......... .......... .......... .......... 24% 4.05M 27s
 37950K .......... .......... .......... .......... .......... 24% 6.76M 27s
 38000K .......... .......... .......... .......... .......... 24% 4.45M 27s
 38050K .......... .......... .......... .......... .......... 24% 12.7M 27s
 38100K .......... .......... .......... .......... .......... 24% 3.44M 27s
 38150K .......... .......... .......... .......... .......... 24% 9.65M 26s
 38200K .......... .......... .......... .......... .......... 24% 4.67M 26s
 38250K .......... .......... .......... .......... .......... 24% 6.28M 26s
 38300K .......... .......... .......... .......... .......... 24% 4.58M 26s
 38350K .......... .......... .......... .......... .......... 24% 5.71M 26s
 38400K .......... .......... .......... .......... .......... 24% 4.78M 26s
 38450K .......... .......... .......... .......... .......... 24% 14.8M 26s
 38500K .......... .......... .......... .......... .......... 24% 3.52M 26s
 38550K .......... .......... .......... .......... .......... 24% 51.2M 26s
 38600K .......... .......... .......... .......... .......... 24% 5.29M 26s
 38650K .......... .......... .......... .......... .......... 24% 3.63M 26s
 38700K .......... .......... .......... .......... .......... 24% 4.36M 26s
 38750K .......... .......... .......... .......... .......... 24% 33.2M 26s
 38800K .......... .......... .......... .......... .......... 24% 5.45M 26s
 38850K .......... .......... .......... .......... .......... 24% 3.56M 26s
 38900K .......... .......... .......... .......... .......... 24% 29.3M 26s
 38950K .......... .......... .......... .......... .......... 24% 4.43M 26s
 39000K .......... .......... .......... .......... .......... 24% 27.5M 26s
 39050K .......... .......... .......... .......... .......... 24% 6.69M 26s
 39100K .......... .......... .......... .......... .......... 25% 3.24M 26s
 39150K .......... .......... .......... .......... .......... 25% 5.30M 26s
 39200K .......... .......... .......... .......... .......... 25% 12.4M 26s
 39250K .......... .......... .......... .......... .......... 25% 8.17M 26s
 39300K .......... .......... .......... .......... .......... 25% 3.17M 26s
 39350K .......... .......... .......... .......... .......... 25% 4.98M 26s
 39400K .......... .......... .......... .......... .......... 25% 53.9M 26s
 39450K .......... .......... .......... .......... .......... 25% 5.45M 26s
 39500K .......... .......... .......... .......... .......... 25% 3.32M 26s
 39550K .......... .......... .......... .......... .......... 25% 4.29M 26s
 39600K .......... .......... .......... .......... .......... 25% 79.6M 26s
 39650K .......... .......... .......... .......... .......... 25% 5.37M 26s
 39700K .......... .......... .......... .......... .......... 25% 4.00M 26s
 39750K .......... .......... .......... .......... .......... 25% 3.39M 26s
 39800K .......... .......... .......... .......... .......... 25% 31.2M 26s
 39850K .......... .......... .......... .......... .......... 25% 7.40M 26s
 39900K .......... .......... .......... .......... .......... 25% 4.06M 26s
 39950K .......... .......... .......... .......... .......... 25% 3.66M 26s
 40000K .......... .......... .......... .......... .......... 25% 17.4M 26s
 40050K .......... .......... .......... .......... .......... 25% 7.41M 26s
 40100K .......... .......... .......... .......... .......... 25% 4.74M 26s
 40150K .......... .......... .......... .......... .......... 25% 2.48M 26s
 40200K .......... .......... .......... .......... .......... 25% 15.0M 26s
 40250K .......... .......... .......... .......... .......... 25% 91.3M 26s
 40300K .......... .......... .......... .......... .......... 25% 1.51M 26s
 40350K .......... .......... .......... .......... .......... 25% 38.9M 26s
 40400K .......... .......... .......... .......... .......... 25% 20.8M 26s
 40450K .......... .......... .......... .......... .......... 25% 5.40M 26s
 40500K .......... .......... .......... .......... .......... 25% 2.09M 26s
 40550K .......... .......... .......... .......... .......... 25% 11.9M 26s
 40600K .......... .......... .......... .......... .......... 25% 7.87M 26s
 40650K .......... .......... .......... .......... .......... 25% 2.05M 26s
 40700K .......... .......... .......... .......... .......... 26% 9.81M 26s
 40750K .......... .......... .......... .......... .......... 26% 9.29M 26s
 40800K .......... .......... .......... .......... .......... 26% 2.00M 26s
 40850K .......... .......... .......... .......... .......... 26% 10.8M 26s
 40900K .......... .......... .......... .......... .......... 26% 12.2M 26s
 40950K .......... .......... .......... .......... .......... 26% 8.23M 26s
 41000K .......... .......... .......... .......... .......... 26% 2.35M 26s
 41050K .......... .......... .......... .......... .......... 26% 7.06M 26s
 41100K .......... .......... .......... .......... .......... 26% 7.88M 25s
 41150K .......... .......... .......... .......... .......... 26% 2.25M 26s
 41200K .......... .......... .......... .......... .......... 26% 10.4M 25s
 41250K .......... .......... .......... .......... .......... 26% 6.75M 25s
 41300K .......... .......... .......... .......... .......... 26% 2.14M 25s
 41350K .......... .......... .......... .......... .......... 26%  181M 25s
 41400K .......... .......... .......... .......... .......... 26% 67.3M 25s
 41450K .......... .......... .......... .......... .......... 26% 4.47M 25s
 41500K .......... .......... .......... .......... .......... 26% 1.99M 25s
 41550K .......... .......... .......... .......... .......... 26% 13.2M 25s
 41600K .......... .......... .......... .......... .......... 26% 7.82M 25s
 41650K .......... .......... .......... .......... .......... 26% 2.00M 25s
 41700K .......... .......... .......... .......... .......... 26%  222M 25s
 41750K .......... .......... .......... .......... .......... 26% 5.27M 25s
 41800K .......... .......... .......... .......... .......... 26% 1.95M 25s
 41850K .......... .......... .......... .......... .......... 26% 16.7M 25s
 41900K .......... .......... .......... .......... .......... 26% 7.41M 25s
 41950K .......... .......... .......... .......... .......... 26% 2.02M 25s
 42000K .......... .......... .......... .......... .......... 26% 10.6M 25s
 42050K .......... .......... .......... .......... .......... 26% 9.43M 25s
 42100K .......... .......... .......... .......... .......... 26% 1.96M 25s
 42150K .......... .......... .......... .......... .......... 26% 17.7M 25s
 42200K .......... .......... .......... .......... .......... 26% 6.84M 25s
 42250K .......... .......... .......... .......... .......... 27% 1.99M 25s
 42300K .......... .......... .......... .......... .......... 27% 12.5M 25s
 42350K .......... .......... .......... .......... .......... 27% 1.54M 25s
 42400K .......... .......... .......... .......... .......... 27% 74.1M 25s
 42450K .......... .......... .......... .......... .......... 27% 20.1M 25s
 42500K .......... .......... .......... .......... .......... 27% 1.53M 25s
 42550K .......... .......... .......... .......... .......... 27% 82.4M 25s
 42600K .......... .......... .......... .......... .......... 27% 5.53M 25s
 42650K .......... .......... .......... .......... .......... 27%  120M 25s

## Pre-Processing the Data

In [372]:
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [439]:
# Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
# Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

### First Pre-Processing Movies DataFrame

In [440]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())
movies_df.head(20)

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Adventure|Animation|Children,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Crime|Drama,1995
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Comedy,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action|Comedy|Crime|Drama|Thriller,1995

In [441]:
#Every genre is separated by a | so we simply have to call the split function on |
movies_df['genres'] = movies_df.genres.str.split('|')
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995
2,3,Grumpier Old Men,"[Comedy, Romance]",1995
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995
4,5,Father of the Bride Part II,[Comedy],1995

Since keeping genres in a list format isn't optimal for the content-based recommendation system technique, we will use the One Hot Encoding technique to convert the list of genres to a vector where each column corresponds to one possible value of the feature. This encoding is needed for feeding categorical data.

In [442]:
#Copying the movie dataframe into a new one since we won't need to use the genre information in our first case.
moviesWithGenres_df = movies_df.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index, row in movies_df.iterrows():
    for genre in row['genres']:
        moviesWithGenres_df.at[index, genre] = 1
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
moviesWithGenres_df = moviesWithGenres_df.fillna(0)
moviesWithGenres_df.head()

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,Father of the Bride Part II,[Comedy],1995,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Now Pre-Processing Ratings DataFrame

In [423]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [424]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

## Content-Based recommandation system model

In [425]:
# Sample user
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [426]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]

#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)
#Final input dataframe
inputMovies

   movieId                title  rating
0        1            Toy Story     3.5
1        2              Jumanji     2.0
2      296         Pulp Fiction     5.0
3     1274                Akira     4.5
4     1968  Breakfast Club, The     5.0

In [427]:
#Filtering out the movies from the input
userMovies = moviesWithGenres_df[moviesWithGenres_df['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

,movieId,title,genres,year,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1.0,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293,296,Pulp Fiction,"[Comedy, Crime, Drama, Thriller]",1994,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246,1274,Akira,"[Action, Adventure, Animation, Sci-Fi]",1988,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1885,1968,"Breakfast Club, The","[Comedy, Drama]",1985,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [428]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary issues due to save memory and to avoid issues
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now we start learning the input's preferences!

To do this, we're going to turn each genre into weights. We can do this by using the input's reviews and multiplying them into the input's genre table and then summing up the resulting table by column. This operation is actually a dot product between a matrix and a vector, so we can simply accomplish by calling Pandas's "dot" function.

In [429]:
inputMovies['rating']

0    3.5
1    2.0
2    5.0
3    4.5
4    5.0
Name: rating, dtype: float64

In [430]:
#Dot produt to get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
#The user profile
userProfile

Adventure             10.0
Animation              8.0
Children               5.5
Comedy                13.5
Fantasy                5.5
Romance                0.0
Drama                 10.0
Action                 4.5
Crime                  5.0
Thriller               5.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 4.5
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

Now, we have the weights for every of the user's preferences. This is known as the User Profile. Using this, we can recommend movies that satisfy the user's preferences.

In [443]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres_df.set_index(moviesWithGenres_df['movieId'])
#And drop the unnecessary information
genreTable = genreTable.drop('movieId',1).drop('title',1).drop('genres', 1).drop('year', 1)
genreTable.head()

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Mystery,Sci-Fi,IMAX,Documentary,War,Musical,Western,Film-Noir,(no genres listed)
movieId,,,,,,,,,,,,,,,,,,,,
1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [432]:
genreTable.shape

(34208, 20)

With the input's profile and the complete list of movies and their genres in hand, we're going to take the weighted average of every movie based on the input profile and recommend the top twenty movies that most satisfy it.

In [444]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable_df = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable_df = recommendationTable_df.rename('rating')
recommendationTable_df

movieId
1         0.594406
2         0.293706
3         0.188811
4         0.328671
5         0.188811
            ...
151697    0.069930
151701    0.000000
151703    0.139860
151709    0.202797
151711    0.000000
Name: rating, Length: 34208, dtype: float64

In [445]:
recommendationTable_df= recommendationTable_df.to_frame().reset_index()
recommendationTable_df

       movieId    rating
0            1  0.594406
1            2  0.293706
2            3  0.188811
3            4  0.328671
4            5  0.188811
...        ...       ...
34203   151697  0.069930
34204   151701  0.000000
34205   151703  0.139860
34206   151709  0.202797
34207   151711  0.000000

[34208 rows x 2 columns]

In [453]:
# Merge movie data frame with recommendation series
recommendation_list = pd.merge(movies_df, recommendationTable_df, right_index= True, left_index= True)

# Drop extra movie id
recommendation_list = recommendation_list.reset_index(drop=True)

recommendation_list.head()

,movieId_x,title,genres,year,movieId_y,rating
0,1,Toy Story,"[Adventure, Animation, Children, Comedy, Fantasy]",1995,1,0.594406
1,2,Jumanji,"[Adventure, Children, Fantasy]",1995,2,0.293706
2,3,Grumpier Old Men,"[Comedy, Romance]",1995,3,0.188811
3,4,Waiting to Exhale,"[Comedy, Drama, Romance]",1995,4,0.328671
4,5,Father of the Bride Part II,[Comedy],1995,5,0.188811

In [454]:
# drop extra columns
recommendation_list = recommendation_list.drop('movieId_y', 1)
recommendation_list = recommendation_list.rename(columns={'movieId_x' : 'movieId'})
# Sort our recommendations in descending order
recommendation_list = recommendation_list.sort_values('rating', ascending=False)
recommendation_list = recommendation_list.reset_index(drop=True)
#Just a peek at the values
recommendation_list.head()

,movieId,title,genres,year,rating
0,5018,Motorama,"[Adventure, Comedy, Crime, Drama, Fantasy, Mys...",1991,0.748252
1,26093,"Wonderful World of the Brothers Grimm, The","[Adventure, Animation, Children, Comedy, Drama...",1962,0.734266
2,27344,Revolutionary Girl Utena: Adolescence of Utena...,"[Action, Adventure, Animation, Comedy, Drama, ...",1999,0.720280
3,148775,Wizards of Waverly Place: The Movie,"[Adventure, Children, Comedy, Drama, Fantasy, ...",2009,0.685315
4,6902,Interstate 60,"[Adventure, Comedy, Drama, Fantasy, Mystery, S...",2002,0.678322